<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8" />
    <title>Booklist</title>
</head>
<body>

<div class="container">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <h1>Books</h1>
    <table class="table table-striped table-dark">
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Category</th>
            <th />
            <th />
        </tr>
        <tr th:each = "book : ${books}">
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.category.name}"></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}"><button class="btn btn-warning">Edit</button></a></td>
        </tr>
    </table>
    <a href="/add"><button class="btn btn-success">Add Book</button></a>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-danger">Log out</button>
    </form>
</div>

</body>
</html>