<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8" />
    <title>Booklist</title>
</head>
<body>
<h1>Books</h1>
<table class="table table-striped">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
    </tr>
    <tr th:each = "book : ${books}">
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.year}"></td>
        <td><a th:href="@{/delete/{id}(id=${book.id})}"><button class="btn btn-danger">Delete</button></a></td>
        <td><a th:href="@{/edit/{id}(id=${book.id})}"><button class="btn btn-warning">Edit</button></a></td>
    </tr>
</table>
<a href="/add"><button class="btn btn-success">Add Book</button></a>
</body>
</html>